* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 0.8)),
		url('../img/library.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form {
	width: 300px;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 51px;
}

input {
	background: transparent;
	border: 1px solid #fff;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 13px 12px;
	outline: none;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
}

.btn {
	width: 100%;
	margin-top: 43px;
	margin-bottom: 11px;
	padding: 13px 123px;
	border: none;
	background: #fff;
	color: #0d75ff;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
}

.forgot__password {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

::placeholder {
	text-transform: uppercase;
	color: #fff;
}
