@font-face {
	font-family: 'Rubik';
	src: url('./Rubik-Medium.woff2') format('woff2'),
		url('./Rubik-Medium.woff') format('woff'),
		url('./Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rubik';
	src: url('./Rubik-Regular.woff2') format('woff2'),
		url('./Rubik-Regular.woff') format('woff'),
		url('./Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
